#register {

    .register {

        &__title {
            font-size: 3rem;
            margin-bottom: 100px;
            color: $primary-orange;
            border-bottom: 10px solid $primary-blue;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 40vw;
        margin: 0 5%;
    }
}