#usernews {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .container {
        grid-column: 1 / span 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-gap: 25px;
        margin: 50px 0 50px 100px;

    }

    .emptyResults {
        margin: 100px auto;
        font-weight: bold;
        font-size: 2rem;
    }

    .loading {
        display: flex;
        margin: 150px auto;
        padding-bottom: 500px;
        
        &__circle {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $primary-orange;
            margin: 0 3px;

            @for $i from 1 through 3 {
                &--#{$i} {
                    animation: loadingCircle .3s ease #{$i * 0.1}s infinite alternate;
                }
              }
        }
    }

    @keyframes loadingCircle {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-10px);

        }
    }
}