#usernews {
    margin: 25px 0 50px 75px;

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 50px 0;
    }
    .container {
        grid-column: 1 / span 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        
    }

    .emptyResults {
        margin: 100px auto;
        font-weight: bold;
        font-size: 2rem;
    }

    .loading {
        position: absolute;
        top: 55%;
        left: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        // height: 50vh;
        
        &__circle {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $primary-orange;
            margin: 0 3px;

            @for $i from 1 through 3 {
                &--#{$i} {
                    animation: loadingCircle .3s ease #{$i * 0.1}s infinite alternate;
                }
              }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
    }

    @keyframes loadingCircle {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-10px);

        }
    }
}