.btn {
    display: flex;
    align-items: center;
    margin: 0 5%;
    padding: .75vw 2vw;
    font-size: clamp(.6rem, 1.5vw, 1rem);
    font-weight: 900;
    cursor: pointer;

    &--submit {
        margin: 15% 0 0;
        border: 2px solid $primary-orange;
        border-radius: 5px;
        color: #fff;
        background: $primary-orange;
    }

    &--register {
        border: 2px solid $primary-orange;
        border-radius: 16px;
        color: $primary-orange
    }

    &--add-post {
        background-color: $primary-orange;
        border-radius: 20px;
        color: #fff;
        transition: all .25s;

        &:hover {
            box-shadow: 0 5px 10px rgba($color: #ffa45b, $alpha: 0.8);
        }
    }

}