.btn {
    display: flex;
    align-items: center;
    padding: .75vw 2vw;
    font-size: clamp(.6rem, 1.5vw, 1rem);
    font-weight: 900;
    border-radius: 16px;
    cursor: pointer;
    transition: box-shadow .25s;

    &--pagination {
        &:hover {
            color: $primary-orange;
        }
    }

    &--submit {
        margin: 15% 0 0;
        border: 2px solid $primary-orange;
        border-radius: 5px;
        color: #fff;
        background: $primary-orange;
        @include btn-box-shadow;
    }

    &--register {
        border: 2px solid $primary-orange;
        border-radius: 16px;
        color: $primary-orange;
    }

    &--form-post {
        color: #fff;
        background-color: $primary-orange;
        border: none;
        text-transform: uppercase;
        margin: 20px 0 0;
        @include btn-box-shadow;

    }

    &--add-post {
        background-color: $primary-orange;
        color: #fff;
        transition: all .25s;
        @include btn-box-shadow;

    }

    &--disabled {
        background-color: rgb(212, 212, 212);
        pointer-events: none;
        border: none;
    }

}