.card {
    width: 20%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 2%;
    padding: 2vw;

    &__title {
        margin: 5% 0;
    }

    &__description {
        font-style: italic;
    }
}