.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 2vw;

    &__title {
        margin: 5% 0;
    }

    &__description {
        font-style: italic;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        vertical-align: middle;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    &__likes {
        display: flex;
        align-items: center;
        padding: 0 0 0 15px;
        border-radius: 10px;
        border: 1px solid rgba($color: #666666, $alpha: 0.4);

        &--logout {
            padding: 10px 15px;
        }
    }

    &__delete {
        position: absolute;
        padding: 10px 15px;
        font-size: 1.25rem;
        font-weight: bold;
        top: 0;
        right: 0;

        &:hover {
            color: rgb(248, 77, 77);
        }
    }
}

.container {
    &--card-bottom {
        margin: 20px 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}