.menubar {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.menuitem {
    padding: 10px 15px;
    border: 2px solid $primary-orange;
    border-radius: 10px;
    font-size: 1.5rem;
    color: $primary-orange;
    transition: all .25s;

    &--active {
        background-color: $primary-orange;
        color: #fff;
    }

    &:nth-child(1) {
        margin-right: 20px;
    }

    &:not(:nth-child(1)) {
        margin: 0 20px;
    }

    &:hover {
        color: #fff;
        background-color: $primary-orange;
    }

    @include tablet_and_laptop {
        font-size: 1.25rem;
    }
}
