.menubar {
    margin: 50px 0 0 50px;
}

.menuitem {
    padding: 10px 15px;
    margin: 0 10px;
    border: 2px solid $primary-orange;
    border-radius: 10px;
    font-size: 1.5rem;
    color: $font-black-1;
}
