.modal {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 50%;
    background-color: #fff;
    transition: all 300ms;
    border-radius: 20px;

    &__avatar {
        width: 13vw;
        height: 13vw;
        border-radius: 50%;
        vertical-align: middle;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    &__username {
        margin: 20px 0;
        font-size: 2rem;
    }

    &__list {

        &--title {
            margin: 10px 0;
            align-self: flex-start;
            font-size: 1.25rem;
        }
    }

    &__list-item {
        list-style-type: square;
        margin: 10px 0;

        &:hover a {
            color: $primary-orange;
        }
    }

    &--user {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &--post {

        &__header {
            display: inline-block;
            font-size: 3rem;
            color: $primary-orange;
            border-bottom: 10px solid $primary-blue;
            margin-bottom: 50px;
        }
    }

    @include tablet_and_laptop {
        height: 90%;
    }
}

.modal-container {
    display: none;
}
.modal-active {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

}

.fade-enter {
    opacity: 0;
  }
.fade-enter-active {
opacity: 1;
}
.fade-exit {
opacity: 1;
}
.fade-exit-active {
opacity: 0;
}
  