.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10% 1%;
    background-color: #fff;

    &__logo {
        width: 20%;
        margin: 0 0 10px;
    }

    &__links {
        display: flex;
    }
}