.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 65, 65);
    height: 5vw;
    margin-top: 50px;

    &__links {
        display: flex;
        justify-content: space-around;
        color: #fff;
        font-size: 2rem;
        width: 100%;

        @include tablet_and_laptop {
            font-size: 1.4rem;
        }
    }

    &__link {
        color: #fff;

        &:hover {
            color: $primary-orange;
        }
    }
}